<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dd.cashbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appiconsmall"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main" />
        <activity android:name=".MenuSettings" />
        <activity android:name=".MS_AddPrinter" />
        <activity android:name=".MS_AddPrinter_Search" />
        <activity android:name=".MS_AddPrinter_Detail" />
        <activity android:name=".EditTable" />
        <activity android:name=".EditCategory" />
        <activity android:name=".EditCategory_Add" />
        <activity android:name=".EditCategory_Edit" />
        <activity android:name=".EditProduct" />
        <activity android:name=".EditProduct_Add" />
        <activity android:name=".EditProduct_Edit" />
        <activity android:name=".MainShowTables" />
        <activity android:name=".MainShowBills" />
        <activity android:name=".MainCash" />
        <activity android:name=".AllBills" />
        <activity android:name=".MenuCashPosition" />
        <activity android:name=".CurrCashPosition" />
        <activity android:name=".MS_CashRegisterSettings" />
        <activity android:name=".MS_UserAccounts" />
        <activity android:name=".MS_CashRegisterInfo" />
    </application>

</manifest>